@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;500;600;800;900&display=swap");

body {
  margin: 0px;
  padding: 0px;
  font-family: "Inter", sans-serif;
  background: linear-gradient(to bottom, #0c70f2, #303030 40%);
  background-repeat: no-repeat;
}

#main_nav {
  background-color: #303030;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Menu de Navegação*/
#main_nav button {
  margin-right: 5%;
  background-color: #0c70f2;
  border: none;
  height: 40%;
  font-weight: 600;
  color: white;
  width: 80px;
  box-shadow: 3px 2px 4px rgba(12, 112, 242, 0.25);
  border-radius: 0.5em;
  cursor: pointer;
}

#main_nav #header_menu {
  margin-left: 5%;
  display: flex;
  width: 55%;
  justify-content: space-around;
  align-items: center;
}

#main_nav #header_menu .nav_links {
  font-size: 1.3em;
  font-weight: 600;
  color: white;
  text-decoration: none;
  transition: 0.5s;
}

#main_nav #header_menu .nav_links:hover {
  color: #0c70f2;
}
